/* 
* Version: 1.4
* Brown Color 		: #9c8061;
* Brown Hover Color  : #81674b;
*/

a {
   color: #9c8061;
}

a:focus, 
a:hover, 
a:active {
	color: #9c8061;
}

.color-green {
	color: #9c8061;
}

a.read-more:hover { 
	color:#9c8061; 
}

.linked:hover {
	color:#9c8061;
}

/*Header v1
------------------------------------*/
/*Navber*/
.header .navbar-default .navbar-nav > .active > a {
	color: #9c8061;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background: #9c8061;
}

.navbar-toggle:hover {
	background: #81674b !important;
}

.navbar-default .navbar-toggle {
	border-color: #81674b;
}

/*Responsive Navbar*/
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		color: #9c8061;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: #9c8061;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #9c8061;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #9c8061;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu { 
		border-top: solid 2px #9c8061; 
	}	
}

/*Search Box*/
.header .navbar .nav > li > .search:hover {
	color: #9c8061;
	border-bottom-color: #9c8061;
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search:hover {
		background: #81674b;
	}
}

/*Header v2
------------------------------------*/
/*Topbar*/
.topbar-v1 .top-v1-data li a:hover i {
	color: #9c8061;
}

/*Search Box*/
.header-v1 .navbar .nav > li > .search:hover {
	background: #9c8061;
}

/*Responsive Navbar*/
@media (min-width: 767px) {
	.header-v1 .navbar-default .navbar-nav > li > a:hover,
	.header-v1 .navbar-default .navbar-nav > .active > a {
		color: #fff;
		background: #9c8061 !important;
	}

	.header-v1 .navbar-default .navbar-nav > .open > a,
	.header-v1 .navbar-default .navbar-nav > .open > a:hover,
	.header-v1 .navbar-default .navbar-nav > .open > a:focus {
		background: #9c8061;		
	}
}	

/*Sliders
------------------------------------*/
/*Main Parallax Sldier*/
.da-slide h2 i {
	background:url(../../plugins/parallax-slider/img/bg-heading-brown.png) repeat;
}

/*Sequence Parallax Sldier*/
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f5e1cb));
  background: -webkit-linear-gradient(#fff, #f5e1cb);
  background: -moz-linear-gradient(#fff, #f5e1cb);
  background: -ms-linear-gradient(#fff, #f5e1cb);
  background: -o-linear-gradient(#fff, #f5e1cb);
  background: linear-gradient(#fff, #f5e1cb)
}

#sequence-theme h2 {
	background:rgba(156, 128, 97, 0.8);
}

#sequence-theme .info p {
	background:rgba(156, 128, 97, 0.8);
}

/*Buttons
------------------------------------*/
.btn-u {
	background: #9c8061;
}

.btn-u:hover, 
.btn-u:focus, 
.btn-u:active, 
.btn-u.active, 
.open .dropdown-toggle.btn-u {
	background: #81674b;
}

/*Buttons Color*/
.btn-u-split.dropdown-toggle {
   border-left: solid 1px #81674b;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
  border-color: #9c8061;
}
.btn-u.btn-brd:hover {
  color: #81674b;
  border-color: #81674b;
}
.btn-u.btn-brd.btn-brd-hover:hover {
   background: #81674b;   
}

/*Service
------------------------------------*/
.service .service-icon {
	color:#9c8061;	
}

/*Service Blocks*/
.service-alternative .service:hover { 
	background:#9c8061;
} 

/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:#9c8061;
}

.thumbnail-style a.btn-more {
	background:#9c8061;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #81674b;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
	border-bottom:solid 2px #9c8061;
}

.bx-wrapper .bx-prev {
	background-image: url(../../plugins/bxslider/images/controls-brown.png);
}
.bx-wrapper .bx-next {
	background-image: url(../../plugins/bxslider/images/controls-brown.png);
}

/*Typography
------------------------------------*/
/*Heading*/
.headline h2, 
.headline h3, 
.headline h4 {
	border-bottom:2px solid #9c8061;
}

/*Blockquote*/
blockquote:hover {
	border-left-color:#9c8061; 
}

.hero {
	border-left-color: #9c8061;
}

/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #9c8061;
}

/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #9c8061;
}

/*Footer Blog*/
.footer .dl-horizontal a:hover {
	color:#9c8061 !important;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a:hover { 
	color:#9c8061; 
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a { 
	color: #9c8061;
	border-color: #9c8061 !important;
}

/*Post Comment*/
.post-comment h3, 
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
	color: #9c8061;
}

/*Tabs
------------------------------------*/
/*Tabs v1*/
.tab-v1 .nav-tabs { 
	border-bottom: solid 2px #9c8061; 	
}

.tab-v1 .nav-tabs > .active > a, 
.tab-v1 .nav-tabs > .active > a:hover, 
.tab-v1 .nav-tabs > .active > a:focus { 
	background: #9c8061; 
}

.tab-v1 .nav-tabs > li > a:hover { 
	background: #9c8061; 
}

/*Tabs v2*/
.tab-v2 .nav-tabs li.active a {
	border-top: solid 2px #9c8061;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	background: #9c8061;
	border: solid 1px #81674b;
}

/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover { 
	color:#9c8061; 
}
.acc-home .collapse.in { 
	border-bottom:solid 1px #9c8061; 
}

/*Testimonials
------------------------------------*/
.testimonials .testimonial-info {
	color: #9c8061;
}

.testimonials .carousel-arrow i:hover {
	background: #9c8061;
}

/*Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
	color: #9c8061;
}

/*Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
	color:#9c8061;
}

/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
	color:#9c8061 !important;
}

/*Social Icons*/
.team ul.team-socail li i:hover {
	background: #9c8061;
}

/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing:hover h4 {
	color:#9c8061;
}

.pricing-head h3 {
	background:#9c8061;
	border-bottom:solid 1px #81674b;
}
.pricing-head h4 {
	color:#999;
	background:#fcfcfc;
	border-bottom:solid 1px #f5e1cb;
}
	
/*Pricing Content*/
.pricing-content li {
	border-bottom:solid 1px #f5e1cb;
}
.pricing-content li i {
	color:#9c8061;
}

/*Pricing Extra*/
.sticker-left {
	background: #9c8061;
}

/*Pricing Table Mega-v1 Version
------------------------------------*/
.pricing-mega-v1 .pricing:hover h4 i {
	color:#9c8061;
}
.pricing-mega-v1 .pricing-content li i {
	color: #9c8061; 
}

/*Pricing Table Colored Background Version
------------------------------------*/
.pricing-bg-colored .pricing:hover {	
	background: #81674b; 
}

.pricing-bg-colored .pricing-head i {
	color:#9c8061;
}

/*Pricing Footer*/
.pricing-footer a,
.pricing-footer button {
	background:#9c8061;
}
.pricing-footer a:hover,
.pricing-footer button:hover {
	background:#81674b;
}

/*Priceing Active*/
.price-active h4 {
	color:#9c8061;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	color:#9c8061;
}

/*Pricing Table Mega-v2 
------------------------------------*/
.pricing-mega-v2 .block:hover .bg-color {
	background: #9c8061;
}
.pricing-mega-v2 .block:hover h3,
.pricing-mega-v2 .block:hover h4, 
.pricing-mega-v2 .block:hover li, 
.pricing-mega-v2 .block:hover li i,
.pricing-mega-v2 .block:hover h4 i {
	background: #9c8061;
}

/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i, 
.who li:hover a { 
	color:#9c8061; 
}

/*Privacy Page
------------------------------------*/
.privacy a:hover {
	color:#9c8061; 
}

/*Portfolio Page
------------------------------------*/
/*Portfolio v1*/
.view a.info:hover {
	background: #9c8061;
}

/*Portfolio v2*/
.sorting-block .sorting-nav li.active {
	color: #9c8061;
	border-bottom: solid 1px #9c8061;
}

.sorting-block .sorting-grid li a:hover span.sorting-cover {
	background: #9c8061;
}

/*Blog Page
------------------------------------*/
.blog h3 {
	color:#9c8061;
}
.blog li a:hover {
	color:#9c8061;
}

/*Blog Tags*/
ul.blog-tags a:hover {
	background: #9c8061;
}

.blog-post-tags ul.blog-tags a:hover {
    background: none repeat scroll 0 0 #9c8061;
}

/*Blog Photos*/
.blog-photos li img:hover {
	box-shadow: 0 0 0 2px #9c8061;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner:hover {
	border-color: #9c8061;
	border-top-color: #9c8061;	
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: #9c8061;	
}

.blog-twitter .blog-twitter-inner a {
	color: #9c8061;
}

/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
	color:#9c8061;
}

/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
	border-top: solid 3px #9c8061;
}

/*Search Page
------------------------------------*/
.booking-blocks p a {
	color: #9c8061;
}

/*Icons Page
------------------------------------*/
.icon-page li:hover { 
	color:#9c8061;
}

/*Glyphicons*/
.glyphicons-demo a:hover {
	color: #9c8061;
	text-decoration: none;
}

/*Magazine Page
------------------------------------*/
/*Magazine News*/
.magazine-news .by-author strong {
	color: #9c8061;
}

.magazine-news a.read-more {
	color: #9c8061;
}

/*Magazine Mini News*/
.magazine-mini-news .post-author strong {
	color: #9c8061;
}

.news-read-more i {
	background: #9c8061;
}

/*Sidebar Features*/
.magazine-page h3 a:hover {
	color: #9c8061;
}

/*Page Features
------------------------------------*/
/*Tag Boxes v1*/
.tag-box-v1 {
	border-top: solid 2px #9c8061;
}

/*Tag Boxes v2*/
.tag-box-v2 {
	border-left: solid 2px #9c8061;
}

/*Tag Boxes v7*/
.tag-box-v7 {
	border-bottom: solid 2px #9c8061;
}

/*Font Awesome Icon Page Style*/
.fa-icons li:hover { 
   color: #9c8061;
}

.fa-icons li:hover i {
   background: #9c8061; 
}

/*GLYPHICONS Icons Page Style*/
.bs-glyphicons li:hover {
   color: #9c8061;
}

/*Navigation
------------------------------------*/
/*Pagination*/
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
   background-color: #9c8061;
   border-color: #9c8061;
}

.pagination li a:hover {
   background: #81674b;
   border-color: #81674b;   
}

/*Pager*/
.pager li > a:hover, 
.pager li > a:focus {
   background: #81674b;
   border-color: #81674b;   
}

/*Registration and Login Page v2
------------------------------------*/
.reg-block {
	border-top: solid 2px #9c8061;
}

/*Image Hover
------------------------------------*/
/*Image-hover*/
#effect-2 figure .img-hover {
	background: #9c8061;
}

/*Blog Large Page
------------------------------------*/
.blog h2 a:hover {
	color: #9c8061;
}

/*Timeline v1 Page
------------------------------------*/
.timeline-v1 > li > .timeline-badge i:hover {
	color: #9c8061;
}

.timeline-v1 .timeline-footer .likes:hover i {
	color: #9c8061;
}

/*Timeline v2 Page
------------------------------------*/
/* The icons */
.timeline-v2 > li .cbp_tmicon {
	background: #9c8061;
}

/*Progress Bar
------------------------------------*/
.progress-bar-u {
  background: #9c8061;
}

/*Job Inner Page
------------------------------------*/
.job-description .save-job a:hover,
.block-description .save-job a:hover {
	color: #9c8061;
}

.job-description .p-chart .overflow-h li i,
.job-description .p-chart .overflow-h li a,
.block-description .p-chart .overflow-h li i,
.block-description .p-chart .overflow-h li a {
	color: #9c8061;
}

/*Colorful-ul*/
.job-description .colorful-ul li a {
	color: #9c8061;
}

/*Search Inner Page
------------------------------------*/
.s-results .related-search a:hover {
	color: #9c8061;
}

.s-results .inner-results h3 a:hover {
	color: #9c8061;
}

.s-results .up-ul li a:hover {
	color: #9c8061;
}

.s-results .down-ul li a {
	color: #9c8061;
}

/*Funny Boxes
------------------------------------*/
.funny-boxes p a {
  color: #9c8061;
}

.funny-boxes .funny-boxes-img li i {
  color: #9c8061;
}

/*Sidebar Sub Navigation
------------------------------------*/
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
  color: #9c8061;
}

/*Blockquote
------------------------------------*/
blockquote.bq-green {
  border-color: #9c8061;
}

blockquote:hover,
blockquote.text-right:hover {
   border-color: #9c8061;
}

/*Green Left Bordered Funny Box**/
.funny-boxes-left-green {
  border-left: solid 2px #9c8061;
}

.funny-boxes-left-green:hover {
  border-left-color: #9c8061;
}

/*Testimonials Default
------------------------------------*/
/*Testimonials*/
.testimonials .carousel-arrow i:hover {
  background: #9c8061;
}

/*Testimonials Default*/
.testimonials-bg-default .item p {
  background: #9c8061;
}

.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
  border-top-color: #9c8061;
}

.testimonials-bg-default .carousel-arrow i {
  background: #9c8061;
}

.testimonials.testimonials-bg-default .carousel-arrow i:hover {
  background: #81674b;
}

/*Promo Page
------------------------------------*/
/*Promo Box*/
.promo-box:hover strong, 
.promo-box:hover strong a {
	color: #9c8061;
}

/*Typography
------------------------------------*/
.dropcap {
	color: #9c8061;
}

.dropcap-bg {
	color: #fff;
	background: #9c8061;
}

/*Breadcrumbs
------------------------------------*/ 
span.label-u,
span.badge-u {
  background: #9c8061;
}

/*Icons
------------------------------------*/
/*Icon Link*/
.link-icon:hover i {
  color: #9c8061;
  border: solid 1px #9c8061;
}

.link-bg-icon:hover i {
  color: #9c8061;
  background: #9c8061 !important;
  border-color: #9c8061;
}

/*Icons Backgroun Color
------------------------------------*/ 
i.icon-color-u {
   color: #9c8061;
   border: solid 1px #9c8061;
}

i.icon-bg-u {
   background: #9c8061;
}

/*Line Icon Page
------------------------------------*/
.line-icon-page .item:hover {
	color: #9c8061;
}

/*Colored Content Boxes
------------------------------------*/
.servive-block-u {
  background: #9c8061;
}

/*Panels (Portlets)
------------------------------------*/
.panel-u > .panel-heading {
   background: #9c8061;
}

/*Owl Carousel
------------------------------------*/
.owl-btn:hover {
  background: #9c8061;
}

/*Counter
------------------------------------*/
.counters span.counter-icon i {
	background: #9c8061;
}

.counters span.counter-icon i:after {
	border-top: 7px solid #9c8061;
}

/*SKy-Forms
------------------------------------*/
/*Buttons*/
.sky-form .button {
	background: #9c8061;
}

/*Rating*/
.sky-form .rating input:checked ~ label {
	color: #9c8061;
}