/*Promo Page
------------------------------------*/
/*Slider Part*/
.fullwidthbanner-container.slider-promo {
	max-height: 460px !important;
}

.slider-promo-info-bg {
	padding: 25px 20px 20px;
	background: url(../img/bg-black.png) repeat;
}

.slider-promo-info span.big-size { 
	color: #fff;
	display: block;
	font-size: 30px;
	margin-bottom: 25px;
	text-shadow: 0 !important;
}

.slider-promo-info p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}

/*Promo Box*/
.promo-box {
	padding: 20px;
	margin: 25px 0 20px;
	text-align: center;
}

.promo-box i {
	font-size: 50px;
}

.promo-box p {
	font-size: 14px;
	margin-bottom: 0;
}

.promo-box strong,
.promo-box strong a {
	color: #555;
	font-size: 20px;
	display: block;
	margin: 20px 0 15px;
	font-weight: 200; 
}

.promo-box:hover strong, 
.promo-box:hover strong a {
	color: #e74c3c;
}

/*Promo Work*/
.promo-work {
	margin: 20px 0;
}

/*Promo Service*/
.promo-service {
	margin: 20px 0;
}

.promo-service a.btn-u {
	margin: 0 20px 10px 0;
}

.promo-service .carousel {
	margin-top: 10px;
}

/*Promo Elements*/
.title-box {
	margin: 20px 0;
	padding: 40px 0;
	font-size: 16px;
	text-align: center;
	border-bottom: solid 1px #eee;
}

.title-box .title-box-text {
	color: #555;
	display: block;
	font-size: 35px;
	font-weight: 200;
}

.block-blockquote {
	margin: 20px 0; 
	text-align: center;
	border: dashed 1px #ccc;
}

.block-blockquote-inner {
	padding: 15px; 
}

.block-blockquote p {
	font-size: 26px;
	margin-bottom: 0;
}