/*Page Search
------------------------------------*/
/*Search Block*/
.search-block {
	padding: 80px 0;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	background: url(../../img/bg/7.jpg) 50% 0 repeat fixed;		
}

.search-block:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: rgba(0,0,0,0.3);
}

.search-block h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.search-block .input-group {
	margin-bottom: 10px;
}

/*Checkbox*/
.search-block form.page-search-form {
	border: none;
}

.search-block form.page-search-form .radio,
.search-block form.page-search-form .checkbox {
	margin: 0 3% 0 4%;
}

.search-block form.page-search-form .checkbox {
	color: #fff;
	font-weight: 200;
}

.search-block form.page-search-form .radio i,
.search-block form.page-search-form .checkbox i {
	top: 6px;
	width: 15px;
	height: 15px;
	border: none;
}

/*Category
------------------------------------*/
.info-blocks-v2 .info-bk-in-v2 h3 a {
	color: #555;
}

/*Section-Block*/
.category .section-block {
	padding: 20px;
	background: #f9f9f9;
	border: 1px solid #eee;
}

.category .section-block .text-center p {
	margin-bottom: 0;
}

.category .section-block button {
	display: block;
	margin: 0 auto;
	text-align: center;
}