/*Contact Pages
------------------------------------*/
.map {
	width:100%; 
	height:350px;
	border-top:solid 1px #eee;
	border-bottom:solid 1px #eee;
}

/* important! bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
.map img {
	max-width: none;
}

.map-box {
	height: 250px;
}

.map-box-space {
	margin-top: 15px;
}
.map-box-space1 {
	margin-top: 7px;
}