/*404 Error Page v2
------------------------------------*/

/*@import url(http://fonts.googleapis.com/css?family=Kite+One);*/

body {
	background: #555;
}

.error-v2 {
	padding: 40px;
	margin: 60px 0;
	text-align: center;	
	background: url(../../img/bg-black1.png);
}

.error-v2 p {
	color: #fff;
	font-size: 18px;
	font-weight: 200;
}

.error-v2 span {
	color: #fff;
	display: block;
	font-size: 40px;
}

.error-v2 span.error-v2-title {
	color: #fff;
	font-size: 220px;
	line-height: 260px;
	/*
	font-size: 160px;
	font-family: 'Kite One', sans-serif;
	*/
}

/*For Mobile Devices*/
@media (max-width: 500px) { 
	.error-v2 p {
		font-size: 16px;
	}	

	.error-v2 span {
		font-size: 26px;
	}

	.error-v2 span.error-v2-title {
		font-size: 100px;
		line-height: 120px;		
	}
}