/*
* Kendo UI Web v2013.2.716 (http://kendoui.com)
* Copyright 2013 Telerik AD. All rights reserved.
*
* Kendo UI Web commercial licenses may be obtained at
* https://www.kendoui.com/purchase/license-agreement/kendo-ui-web-commercial.aspx
* If you do not own a commercial license, this file shall be governed by the
* GNU General Public License (GPL) version 3.
* For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
*/


/* Kendo skin */
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-editor-button .k-tool-icon,
.k-upload-files {
  border-color: #dadada;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-widget.k-popup {
  background-color: #ffffff;
}
.k-grouping-row td,
td.k-group-cell {
  background-color: #ffffff;
}
.k-list-container {
  border-color: #dadada;
  background-color: #ffffff;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt,
.k-separator {
  background-color: #f5f5f5;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #dadada;
  background-color: #ffffff;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #dadada;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #ffffff;
  color: #787878;
}
.k-input[readonly] {
  background-color: #ffffff;
  color: #787878;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-dropdown .k-input {
  color: #787878;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: #787878;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #787878;
}
.k-header {
  color: #787878;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item {
  background-image: none;
  background-position: 50% 50%;
  background-color: #ffffff;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle {
  background-color: #ffffff;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite {
  opacity: 1;
}
.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite {
  opacity: 1;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite {
  background-image: url('Metro/sprite.png');
  border-color: transparent;
}
.k-loading,
.k-state-hover .k-loading {
  background-image: url('Metro/loading.gif');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('Metro/loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-button {
  color: #787878;
  border-color: #dadada;
  background-color: #ffffff;
}
.k-button:hover {
  color: #ffffff;
  border-color: #8ebc00;
  background-color: #8ebc00;
}
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:active,
.k-state-disabled .k-button:active {
  color: #cccccc;
  border-color: #dadada;
  background-image: none;
  background-color: transparent;
}
.k-draghandle {
  border-color: #8ebc00;
  background-color: #8ebc00;
  -webkit-box-shadow: 0 1px 1px 0 #676767;
  box-shadow: 0 1px 1px 0 #676767;
}
.k-draghandle:hover {
  border-color: #7ea700;
  background-color: #7ea700;
  -webkit-box-shadow: 0 1px 1px 0 #676767;
  box-shadow: 0 1px 1px 0 #676767;
}
/* Scheduler */
.k-scheduler,
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #ffffff;
  color: #787878;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #dadada;
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #fbfbfb;
}
.k-scheduler-now-arrow {
  border-left-color: #e20000;
}
.k-scheduler-now-line {
  background-color: #e20000;
}
.k-event {
  border-color: rgba(0, 0, 0, 0.13);
  background: #7ea700 0 -257px none repeat-x;
  color: #ffffff;
}
.k-ie7 .k-event .k-resize-handle,
.k-event .k-resize-handle:after {
  background-color: #787878;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #7ea700;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #ffffff;
  color: #787878;
  border-color: #dadada;
}
.k-panelbar > li > .k-link {
  color: #787878;
}
.k-panelbar > .k-item > .k-link {
  border-color: #dadada;
}
.k-panel > li.k-item {
  background-color: #ffffff;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: #ffffff;
  border-color: #7ea700;
  color: #000000;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: #ffffff;
  color: #000000;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #8ebc00;
}
.k-calendar .k-link {
  color: #787878;
}
.k-calendar .k-footer {
  padding: 0;
}
.k-calendar .k-footer .k-nav-today {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: .5em 0;
  color: #787878;
  text-decoration: none;
  background-color: #ffffff;
}
.k-calendar .k-footer .k-nav-today:hover {
  background-color: #ffffff;
  text-decoration: underline;
}
.k-calendar .k-footer .k-nav-today:active {
  background-color: #ffffff;
}
.k-calendar .k-link.k-nav-fast {
  color: #787878;
}
.k-calendar .k-nav-fast.k-state-hover {
  text-decoration: none;
  background-color: #8ebc00;
  color: #ffffff;
}
.k-calendar .k-link.k-state-hover,
.k-window .k-link {
  border-radius: 0;
}
.k-calendar .k-footer .k-link {
  border-radius: 0;
}
.k-calendar th {
  background-color: #ffffff;
}
.k-calendar-container.k-group {
  border-color: #dadada;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-button:active,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-marquee-color {
  color: #ffffff;
  background-color: #7ea700;
  border-color: #7ea700;
}
.k-marquee-text {
  color: #ffffff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused,
.k-button:focus,
.k-button.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #8ebc00;
  box-shadow: inset 0 0 0 1px #8ebc00;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected,
.k-button:focus:active {
  -webkit-box-shadow: inset 0 0 3px 1px #445b00;
  box-shadow: inset 0 0 3px 1px #445b00;
}
.k-ie8 .k-panelbar span.k-state-focused,
.k-ie8 .k-menu li.k-state-focused,
.k-ie8 .k-listview > .k-state-focused,
.k-ie8 .k-grid-header th.k-state-focused,
.k-ie8 td.k-state-focused,
.k-ie8 .k-button:focus,
.k-ie8 .k-button.k-state-focused,
.k-ie7 .k-panelbar span.k-state-focused,
.k-ie7 .k-menu li.k-state-focused,
.k-ie7 .k-listview > .k-state-focused,
.k-ie7 .k-grid-header th.k-state-focused,
.k-ie7 td.k-state-focused,
.k-ie7 .k-button:focus,
.k-ie7 .k-button.k-state-focused {
  background-color: #8ebc00;
}
.k-list > .k-state-selected.k-state-focused {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected {
  color: #ffffff;
}
.k-state-selected,
.k-button:active,
.k-draghandle.k-state-selected:hover {
  background-image: none;
}
.k-button:active,
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-imagebrowser-dropzone {
  color: #ffffff;
  background-color: #8ebc00;
  border-color: #8ebc00;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #8ebc00;
}
.k-button:hover,
.k-button:focus,
.k-button.k-state-focused,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-imagebrowser-dropzone em,
.k-draghandle:hover {
  background-image: none;
}
.k-pager-wrap {
  background-color: #ffffff;
  color: #787878;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-button:active,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-tool-icon {
  background-image: url('Metro/sprite.png');
}
.k-tool-icon.k-state-hover {
  background-image: url('Metro/sprite.png');
}
.k-tool-icon.k-state-active,
.k-tool-icon.k-state-active.k-state-hover,
.k-tool-icon.k-state-selected,
.k-tool-icon.k-state-selected.k-state-hover {
  background-image: url('Metro/sprite.png');
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-imagebrowser-dropzone em {
  color: #ffffff;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: #8ebc00;
  background-image: none;
  background-position: 50% 50%;
  border-color: #dadada;
}
.k-dropdown .k-state-focused .k-input {
  color: #787878;
}
.k-dropdown .k-state-hover .k-input {
  color: #ffffff;
}
.k-state-error {
  border-color: #e20000;
  background-color: #ffffff;
  color: #e20000;
}
.k-state-disabled {
  filter: alpha(opacity=70);
  opacity: .7;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #cccccc;
}
/* Slider */
.k-slider-track {
  background-color: #dadada;
}
.k-slider-selection {
  background-color: #7ea700;
}
.k-slider-horizontal .k-tick {
  background-image: url('Metro/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Metro/slider-v.gif');
}
/* Tooltip */
.k-widget.k-tooltip {
  border-color: #99c319;
  background-color: #99c319;
  color: #ffffff;
}
.k-widget.k-tooltip-validation {
  border-color: #ffe13a;
  background-color: #ffe13a;
  color: #787878;
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #99c319;
}
.k-callout-w {
  border-right-color: #99c319;
}
.k-callout-s {
  border-top-color: #99c319;
}
.k-callout-e {
  border-left-color: #99c319;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #ffe13a;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #ffe13a;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #ffe13a;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #ffe13a;
}
/* Splitter */
.k-splitbar {
  background-color: #dadada;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #e20000;
}
/* Upload */
.k-file {
  background-color: #ffffff;
  border-color: #dadada;
}
.k-file-progress {
  color: #0066cc;
}
.k-file-progress .k-progress {
  background-color: #d0f8ff;
}
.k-file-success {
  color: #28760b;
}
.k-file-success .k-progress {
  background-color: #ddffd0;
}
.k-file-error {
  color: #cc0000;
}
.k-file-error .k-progress {
  background-color: #ffded7;
}
/* ImageBrowser */
.k-tile {
  border-color: #ffffff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #8ebc00;
}
.k-tiles li.k-state-selected {
  border-color: #7ea700;
}
.k-tile .k-folder,
.k-tile .k-file {
  background-image: url('Metro/imagebrowser.png');
}
/* Shadows */
.k-widget,
.k-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-selected {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: #8ab600;
}
.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-imagebrowser .k-image,
.k-tooltip {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-window {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.3);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.3);
  background-color: #ffffff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* Selection */
.k-editor-inline ::selection {
  background-color: #7ea700;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #7ea700;
  text-shadow: none;
  color: #fff;
}
/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-group-start .k-tool-icon {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-group-end .k-tool-icon {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-group-start.k-group-end .k-tool-icon {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-colorpicker .k-selected-color {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-rtl .k-colorpicker .k-selected-color {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-autocomplete.k-state-border-down .k-input,
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #7ea700;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-numeric-wrap.k-expand-padding .k-input {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-dropzone {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.k-draghandle {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 0 0 0 0;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 0;
}
.k-more-events,
.k-event,
.k-event .k-link {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: none;
  background-position: 50% 50%;
  background-color: #ffffff;
  border-color: #dadada;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #8ebc00;
  background-image: none;
  background-position: 50% 50%;
  border-color: #dadada;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #8ebc00;
  background-image: none;
  background-position: 50% 50%;
  border-color: #dadada;
}
.k-multiselect.k-header {
  border-color: #dadada;
}
.k-multiselect.k-header.k-state-hover {
  border-color: #dadada;
}
.k-multiselect.k-header.k-state-focused {
  border-color: #dadada;
}
.k-list-container {
  color: #787878;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: #787878;
}
.k-state-default > .k-select {
  border-color: #dadada;
}
.k-state-hover > .k-select {
  border-color: #dadada;
}
.k-state-focused > .k-select {
  border-color: #dadada;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #787878;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link {
  color: #ffffff;
}
.k-tabstrip-items .k-state-default {
  border-color: #dadada;
}
.k-tabstrip-items .k-state-hover {
  border-color: #8ebc00;
}
.k-tabstrip-items .k-state-active {
  background-color: #ffffff;
  background-image: none;
  border-color: #7ea700;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #ffffff;
  color: #787878;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #4c5356;
}
.k-column-menu,
.k-column-menu .k-item {
  border-color: #dadada;
}
.k-column-menu .k-separator {
  border-color: #dadada;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: #dadada;
}
.k-secondary .k-picker-wrap,
.k-secondary .k-dropdown-wrap,
.k-secondary .k-numeric-wrap,
.k-secondary.k-scheduler-toolbar > ul > li {
  background-color: #ffffff;
  border-color: #dadada;
}
.k-secondary .k-editor-button .k-tool-icon {
  border-color: #dadada;
}
.k-secondary.k-splitbar {
  border-color: #dadada;
}
.k-secondary .k-state-default > .k-select {
  border-color: #dadada;
}
.k-secondary .k-state-hover > .k-select {
  border-color: #8ebc00;
}
.k-secondary .k-state-focused > .k-select {
  border-color: #dadada;
}
.k-secondary .k-autocomplete.k-state-hover,
.k-secondary .k-picker-wrap.k-state-hover,
.k-secondary .k-numeric-wrap.k-state-hover,
.k-secondary .k-dropdown-wrap.k-state-hover {
  background-color: #8ebc00;
  background-image: none;
  background-position: 50% 50%;
  border-color: #dadada;
}
.k-secondary .k-autocomplete.k-state-focused,
.k-secondary .k-picker-wrap.k-state-focused,
.k-secondary .k-numeric-wrap.k-state-focused,
.k-secondary .k-dropdown-wrap.k-state-focused {
  background-color: #dadada;
  background-image: none;
  background-position: 50% 50%;
  border-color: #dadada;
}
.k-secondary .k-button,
.k-secondary.k-button {
  color: #787878;
  background-color: #ffffff;
  border-color: #dadada;
}
.k-secondary .k-button:hover,
.k-secondary.k-button:hover {
  color: #ffffff;
  border-color: #8ebc00;
  background-color: #8ebc00;
}
.k-secondary .k-button:active {
  color: #ffffff;
  background-color: #7ea700;
  border-color: #7ea700;
}
.k-secondary .k-dropdown .k-input,
.k-secondary .k-dropdown .k-state-focused .k-input,
.k-secondary .k-menu .k-popup {
  color: #787878;
}
.k-secondary .k-toolbar {
  color: #787878;
  border-color: #dadada;
}
.k-secondary.k-popup.k-group {
  border-color: #dadada;
}
.k-secondary.k-filter-menu {
  background-color: #ffffff;
  color: #787878;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #787878;
  border-color: #dadada;
  font-weight: bold;
}
.k-grouping-header {
  color: #787878;
}
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px inset 0 0 0 1px #8ebc00;
  box-shadow: inset 0 0 0 1px inset 0 0 0 1px #8ebc00;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator {
  border-color: #dadada;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon {
  background-color: transparent;
  border-radius: 0;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-icon:not(.k-loading),
  .k-grouping-dropclue,
  .k-drop-hint,
  .k-callout,
  .k-tool-icon,
  .k-tool-icon.k-state-hover,
  .k-tool-icon.k-state-active,
  .k-tool-icon.k-state-active.k-state-hover,
  .k-tool-icon.k-state-selected,
  .k-tool-icon.k-state-selected.k-state-hover,
  .k-column-menu .k-sprite {
    background-image: url('Metro/sprite_2x.png');
    background-size: 340px 336px;
  }
  .k-dropdown-wrap .k-input,
  .k-picker-wrap .k-input,
  .k-numeric-wrap .k-input {
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
